<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Vue.js 学习</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="app">
			{{ message }}
		</div>
		<p></p>
		<p></p>
		<div id="app-2">
			v-bind:title---<span v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
		</div>
		<p></p>
		<p></p>
		<div id="app-3">
			v-if 语句---
			<p v-if="seen">现在你看到我了</p>
			<p v-else="seen">真的内容隐藏了</p>
		</div>
		<p></p>
		<p></p>
		<div id="app-4">
			v-for语句---
			<ol>
				<li v-for="todo in todos">
					{{ todo.text }}
				</li>
			</ol>
		</div>
		<p></p>
		<p></p>
		<div id="app-5">
			文本逆向显示---
			<p>{{ message }}</p>
			<button v-on:click="reverseMessage">逆转消息</button>
		</div>
		<p></p>
		<p></p>
		<div id="app-6">
			热加载 显示文本绑定输入文本---
			<p>{{ message }}</p>
			<input v-model="message">
		</div>
	</body>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue!'
			}
		})

		var app2 = new Vue({
			el: '#app-2',
			data: {
				message: '页面加载于 ' + new Date().toLocaleString()
			}
		})

		var app3 = new Vue({
			el: '#app-3',
			data: {
				seen: false
			}
		})

		var app4 = new Vue({
			el: '#app-4',
			data: {
				todos: [{
						text: '学习 JavaScript'
					},
					{
						text: '学习 Vue'
					},
					{
						text: '整个牛项目'
					}
				]
			}
		})

		var app5 = new Vue({
			el: '#app-5',
			data: {
				message: 'Hello Vue.js!'
			},
			methods: {
				reverseMessage: function() {
					this.message = this.message.split('').reverse().join('')
				}
			}
		})

		var app6 = new Vue({
			el: '#app-6',
			data: {
				message: 'Hello Vue!'
			}
		})
	</script>

</html>