<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>各类指令的学习</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">

		</style>
	</head>

	<body>
		<div id="test" class="demo">
			<p v-for="msg in messages">{{ msg }}</p>
			<button-message v-on:message="handleMessage"></button-message>
		</div>
	</body>
	<script type="text/javascript">
		Vue.component('button-message', {
			template: '<div><input type="text" v-model="message" /><button v-on:click="handleSendMessage">Send</button></div>',
			data: function() {
				return {
					message: ''
				}
			},
			methods: {
				handleSendMessage: function() {
					this.$emit('message', {
						message: this.message
					})
				}
			}
		})

		new Vue({
			el: '#test',
			data: {
				messages: []
			},
			methods: {
				handleMessage: function(payload) {
					this.messages.push(payload.message)
				}
			}
		})
	</script>

</html>