.refresh{
  position: relative;
  .layout-wrapper{
      background: #efefef;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      &.active{
        transition: 0.5s all;
      }
  }
  .ref-content{
      height: px2rem(200);
      background: #fff;
  }
}